<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{%static 'first_vs/home.css' %}">
</head>
<body>
    {% load static %}
    <header>
        <div class="head">
            <div class="left">
                <div class="logo"><a href="#"><img src="{% static 'first_vs/logos/tpg2.png'%}" alt="logo"></a></div>
            </div>
            <div class="right">
                <ul>
                    <li>
                        <a href="{% url 'home' %}"><span class="log"><img src="{% static 'first_vs/logos/home.svg'%}" alt=""></span>
                            <span class="text1">Home</span></a>
                    </li>
                    <li>
                        <a href="{% url 'home_dept' %}"><span class="log"><img src="{% static 'first_vs/logos/department.png'%}" alt=""></span>
                            <span class="text">Departments</span></a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}"><span class="log"><img src="{% static 'first_vs/logos/question.svg'%}" alt=""></span>
                            <span class="text1">About</span></a>
                    </li>
                    <!-- <li>
                        <a href="#"><span class="log"><img src="{% static 'first_vs/logos/question.svg'%}"
                                    alt=""></span>
                            <span class="text1">About</span></a>
                    </li> -->

                </ul>

            </div>
        </div>
    </header>
    <style>
        main{
            padding: 1em;
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
        }
        p,b{
            padding: .5em;
            margin: .5em;
            margin-right: 5em;
        }
        p{
            /* margin-top: 1.5em; */
            color: black;
        }
        a{
            color: black;
            text-decoration: underline;
        }
        .contact{
            display: flex;
        }
    </style>
    <main>
        <p>
            <b> <u> Contact us at :</u></b>
        </p>
        <div class="contact">

            <p>
                <br>
                Arya Kumar Gowda
                <br>
                Mobile : 8105247901
                <br>
                Email : <a href="mailto:aryakuamrgowda2002@gmail.com" class="mail">
                    aryakumargowda2002@gmail.com
                </a>

        </p>
        <p>
            <br>
            Ashika
            <br>
            Mobile : 6968543210
            <br>
            Email :  <a href="mailto:aryakuamrgowda2002@gmail.com" class="mail">
                ashika@gmail.com
            </a>
        </p>
    </div>
    </main>
    <footer>
        <div class="foot_container">
            <div class="credits">
                <h2>Credits:</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus alias architecto sequi eius cumque,
                    excepturi esse in officia temporibus, vero eaque, culpa error. Voluptatibus fugiat quos earum nam
                    aliquid sint officia ab placeat adipisci eveniet, aut corporis.
                    <br> <br> Molestias vel fuga earum voluptatibus. Quidem asperiores corrupti autem aut sit ad vero!
                </p>
            </div>
            <div class="login_sec">
                <h2>Pages:</h2>
                <ul>
                    <li><a href="http://" target="_blank" rel="noopener noreferrer">Admin</a></li>
                    <li><a href="http://" target="_blank" rel="noopener noreferrer">Employee</a></li>
                    <li><a href="http://" target="_blank" rel="noopener noreferrer">User</a></li>
                    <li><a href="http://" target="_blank" rel="noopener noreferrer">Privacy Policy</a></li>
                    <li><a href="http://" target="_blank" rel="noopener noreferrer">Feedback</a></li>
                </ul>
            </div>
            <div class="foot">
                <p>Copyright ©️ Arya|Ashika | TheProjectGarments | All rights reserved</p>
            </div>
        </div>
    </footer>
</body>
</html>