{% load static %}

<form action="" method="POST">
    {% csrf_token %}
    <p> Name: </p><input type="text" name="name" id="name" placeholder="Name:"> 
    <p> PhoneNo:</p>
    <input type="text" name="phone" id="phone" placeholder="PhoneNo:"> 
    <p> GST NO:</p>
    <input type="text" name="gst" id="gst" placeholder="GST Number:"> 
    <p> Address:</p>
    <textarea name="add" id="add" cols="40" rows="3"></textarea> 
    <p> Company Name:</p>
    <input type="text" name="co_name" id="co_name" placeholder="Company Name:"> 
    <p>Email:</p>
    <input type="email" name="email" id="email" placeholder="Email:">
    <p>Order name:</p>
    <input type="text" name="ord_name" id="ord_name" placeholder="Order Name:"> <br>
    {{ err }}
    <div class="buttons">
        <button type="submit"><img src="{% static 'first_vs/logos/publish.svg'%}" alt="submit"></button>
        <button type="reset">Reset</button>
    </div>
    <a href="{% url 'login' %}">Already Registered? Login</a>
</form>