<style>
    td{
        padding: .51em;
        border: 2px solid black;
        margin: 0;
    }
    .but{
        display: flex;
        border: 2px solid red;
    }

    .but button,.but input{
        margin: .5em;
    }
</style>
from employee tables
<table>
    {% load %}
    <th>
        <tr>
            <td>SSN</td>
            <td>Employee name</td>
            <td>Username</td>
            <td>Salary</td>
            <td>Employee address</td>
            <td>Employee phone</td>
            <td>Gender</td>
            <td>Department</td>
            <td>Join date</td>
            <td>action</td>
        </tr>
    </th>
    {% for i in get %}
    <tr>
        <td>{{i.Ssn}}</td>
        <td>{{ i.E_name }}</td>
        <td>{{ i.username }}</td>
        <td>{{ i.Salary }}</td>
        <td>{{ i.E_address }}</td>
        <td>{{ i.E_phone }}</td>
        <td>{{ i.Gender }}</td>
        <td>{{ i.Department }}</td>
        <td>{{ i.Join_date }}</td>
        <td class="but"><a href="{% url 'eupdate' i.id %}"><button>Edit</button></a>
            <form action="{% url 'edelete' i.id %}" method="post">
                {% csrf_token %}
                <input type="submit" name="delete" id="delete" value="Delete"></form>
        </td>
    </tr>
    {% endfor %}
</table>