<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'first_vs/empregister.css' %}">
</head>

<body>
    <header>
        {% load  static %}
        <div class="head">
            <div class="left">
                <div class="logo"><a href="#"><img src="{% static 'first_vs/logos/tgp_white.png'%}"alt="logo"></a></div>
            </div>
            <div class="right">
                <ul>
                    <li>
                        <a href="{% url 'home' %}"><span class="log"><img src="{% static 'first_vs/logos/home.svg'%}"  alt=""></span>
                        <span class="text1">Home</span></a></li>
                    <li>
                        <a href="#"><span class="log"><img src="{% static 'first_vs/logos/bag.svg'%}" alt=""></span>
                        <span class="text">Collections</span></a>
                    </li>
                    <li>
                        <a href="#"><span class="log"><img src="{% static 'first_vs/logos/phone.svg'%}" alt=""></span>
                        <span class="text">Contact us</span></a>
                    </li>
                    <li>
                        <a href="#"><span class="log"><img src="{% static 'first_vs/logos/question.svg'%}" alt=""></span>
                        <span class="text1">About</span></a>
                    </li>

                </ul>
                
            </div>
        </div>
    </header>
    <main>

        from employee
            {% load %}
            {% for i in get1 %}
                {{ i.Ssn }}
                {{ i.E_name }}
                {{ i.Department }}
                {{ i.Salary }}
        {% endfor %}
    </main>
</body>

</html>