<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department Info</title>
    <link rel="stylesheet" href="{% static 'first_vs/emptab.css'%}">
</head>
<style>
    .but button {
        padding: .5em;
        border: none;
        border-radius: .3em;
        color: rgb(52, 43, 43);
        background: rgb(229, 231, 88);
        box-shadow: 4px 4px 8px rgb(152, 154, 60);
        cursor: pointer;
    }

    td input {
        padding: .5em;
        border: none;
        border-radius: .3em;
        color: antiquewhite;
        background: rgb(231, 88, 88);
        box-shadow: 4px 4px 8px rgb(122, 48, 48);
        cursor: pointer;
    }

    tr:hover {
        background: rgb(224, 224, 224);
    }

    .rd {
        background: rgb(207, 104, 104);
        color: antiquewhite;
    }
</style>

<body>
    <header>
        {% load static %}
        {% load %}
        <div class="head">
            <div class="left">
                <div class="logo"><a href="#"><img src="{% static 'first_vs/logos/tgp_white.png' %}" alt="logo"></a>
                </div>
            </div>
            <div class="right">
                <ul>
                    <li>
                        <a href="{% url 'home' %}">
                            <span class="text1">Home</span></a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">
                            <span class="text">Contact us</span></a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}">
                            <span class="text1">About</span></a>
                    </li>

                </ul>

            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <p class="inf">Departments</p>
            <table>
                {% load %}
                <th>
                    <tr class="hed">
                        <td>Department No</td>
                        <td>Department Name</td>
                        <td>Department Manager</td>
                        <td>Manager Id</td>
                        <td>Emp_Id</td>
                    </tr>
                </th>
                {% for i in gt %}
                <tr>
                    <td>{{ i.Dnumber }}</td>
                    <td>{{ i.Dname }}</td>
                    <td>{{ i.D_manager }}</td>
                    <td>{{ i.mgr_ssn }}</td>
                    <td>{{ i.Ssn }}</td>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
    <footer>
        <div class="foot_container">
            <div class="credits">
                <h2>Credits:</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus alias architecto sequi eius cumque,
                    excepturi esse in officia temporibus, vero eaque, culpa error. Voluptatibus fugiat quos earum nam
                    aliquid sint officia ab placeat adipisci eveniet, aut corporis.
                    <br> <br> Molestias vel fuga earum voluptatibus. Quidem asperiores corrupti autem aut sit ad vero!
                </p>
            </div>
            <div class="login_sec">
                <h2>Pages:</h2>
                <ul>
                    <li><a href="http://" target="_blank" rel="noopener noreferrer">Admin</a></li>
                    <li><a href="http://" target="_blank" rel="noopener noreferrer">Employee</a></li>
                    <li><a href="http://" target="_blank" rel="noopener noreferrer">User</a></li>
                    <li><a href="http://" target="_blank" rel="noopener noreferrer">Privacy Policy</a></li>
                    <li><a href="http://" target="_blank" rel="noopener noreferrer">Feedback</a></li>
                </ul>
            </div>
            <div class="foot">
                <p>Copyright ©️ |Arya|Ashika | TheProjectGarments | All rights reserved</p>
            </div>
        </div>
    </footer>
</body>
</html>