<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Update</title>
    <link rel="stylesheet" href="{%static 'first_vs/register.css' %}">
</head>
<body>
    <main>
        <div class="main_container">
            <h2>Customer Registration</h2>
            <div class="cards">
                <form action="update/{{gt.id}}" method="POST">
                    {% csrf_token %}
                    <p> Name: </p><input type="text" name="name" id="name" placeholder="Name:" value="{{gt.namei}}">
                    <p> PhoneNo:</p>
                    <input type="text" name="phone" id="phone" placeholder="PhoneNo:" value="{{gt.phone}}">
                    <p> GST NO:</p>
                    <input type="text" name="gst" id="gst" placeholder="GST Number:" value="{{gt.gst}}">
                    <p> Company Name:</p>
                    <input type="text" name="co_name" id="co_name" placeholder="Company Name:" value="{{gt.co_name}}">
                    <p>Email:</p>
                    <input type="email" name="email" id="email" placeholder="Email:" value="{{gt.email}}">
                    <p>Materials:</p>
                    <input type="text" name="material" id="material" placeholder="Materials:" value="{{gt.materials}}"> <br>
                    <p>Order name:</p>
                    <input type="text" name="ord_name" id="ord_name" placeholder="Order Name:" value="{{gt.ord_name}}"> <br>
                    <p>Total amount:</p>
                    <input type="text" name="tot" id="tot" placeholder="Total Amount:" value="{{gt.pending_payment}}"> <br>
                    <div class="buttons">
                        <button type="submit"><img src="{% static 'first_vs/logos/publish.svg'%}" alt="submit"></button>
                        <button type="reset">Reset</button>
                    </div>
                </form>
            </div>
            
        </div>
    </main>
</body>
</html>